
/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
html {
  background-image: url(../背景.jpg);
}


body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
	width: 960px;
  margin-right: auto;
  margin-left : auto;
  background: rgba(248, 246, 246, 0.3);
  /*opacity: .5;*/
} 



/*　パディングをサイズ内側にする処理　*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/

.title_box {
	background-image: url(../img/mainbg.png);
  background-size: cover;
	background-position: center;
	height: 400px;
	display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
	padding: 40px;
}

.title_box_title1 {
	font-size: 48px;
	color: white;
}

.title_box_title2 {
	font-size: 36px;
	color: white;
}

.nav {
  font-size: 21px;
  height: 90px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}


.nav_left {
  width: 50%;
}

.nav_right {
  width: 50%;
}

nav {
  padding: 13px;
}


.nav_right li {
  text-align: center;
	height: 46px;
	width: 85px;
  list-style-type : none;
  background      : linear-gradient(rgba(9, 235, 243, 0.4) 75%, rgba(240, 216, 136, 0.9) 100%);

  display: inline-flex;
  justify-content:center;
  align-items: center;
  flex-direction: row;
	
  cursor  : pointer;
  padding : 4px 4px;
}



.nav_right a {
  display : block;
  padding : 10px 10px;
  font-size : 16px;
	width: 95px;
  text-decoration : none;
  border-radius   : 5px;
  position        : relative;
  top   : 0;
  color : #FFF;     
  transition : all .4s;
}

li:hover a {
  top   : -20px;
  color : #2c91eb;
  background-color: rgb(237, 246, 247);
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition : all .4s;
}

li a:after {
  display  :flex;
  content  : '';
  position : absolute;
  top  : 100%;
  left : 42%;
  border-style : solid;
  border-color : transparent;
  border-width : 5px 5px 0 5px;
  transition   : all .4s;
}

li:hover a:after {
  border-color : rgb(237, 246, 247) transparent transparent transparent;
  transition   : all .4s;
}

/*************************************/








.ABOUT_title {
	font-size: 24px;
	color :#ffd61a;
	text-align: center;
	margin-top: 120px;
	margin-bottom: 24px;
}
.ABOUT_text {
	font-size: 16px;
	color: black;
	text-align: center;
	margin-bottom: 80px;
}

.ABOUT_text_box {
	padding-bottom: 30px;
}

.css-slider { 
  width: 300px; 
  height: 200px; 
  
}

.wrap {
  display: flex;
  align-items: center;
  height: 300px; 
  overflow: hidden;
}

.slideshow {
  display: flex;
	animation: loop-slide 20s infinite linear 1s both;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} 

.content {
  width: auto;
  height: auto;
}


.COURSE{
	margin-top: 80px;
}

.COURSE_title{
	font-size: 24px;
	color :#ffd61a;
	text-align: center;
}

.COURSE_text{
	font-size: 16px;
	color: black;
	text-align: center;
	padding-bottom: 64px;
	padding-top: 64px;
}

.COURSE_box1 {
	display: flex;
}

.COURSE_box1_left {
 width: 50%;
}

.COURSE_box1_left img {
 width: 100%;	
}

.COURSE_box1_right {
	width: 50%;
	display: flex;
	justify-content:center;
  align-items: center;
  background: linear-gradient(-45deg, rgba(255, 255, 0, 0.4), rgba(230, 94, 207, 0.4));
  background-size: cover;
}
 .COURSE_box1_right div {
	 width: 90%;
 }

 .COURSE_box1_right_title {
	 font-size: 24px;
	 color: black;
 }

 .COURSE_box2 {
	display: flex;
}

.COURSE_box2_right {
 width: 50%;
}

.COURSE_box2_right img {
 width: 100%;	
}

.COURSE_box2_left {
	width: 50%;
	display: flex;
	justify-content:center;
  align-items: center;
  background: linear-gradient(-45deg, rgba(255, 255, 0, 0.4), rgba(94, 210, 230, 0.4));
}
 .COURSE_box2_left div {
	 width: 90%;
 }

 .COURSE_box2_left_title {
	 font-size: 24px;
	 color: black;
 }

 .COURSE_box3 {
	display: flex;
}

.COURSE_box3_left {
 width: 50%;
}

.COURSE_box3_left img {
 width: 100%;	
}

.COURSE_box3_right {
	width: 50%;
	display: flex;
	justify-content:center;
  align-items: center;
  background: linear-gradient(-45deg, rgba(255, 255, 0, 0.4), rgba(230, 94, 207, 0.4));
}
 .COURSE_box3_right div {
	 width: 90%;
 }

 .COURSE_box3_right_title {
	 font-size: 24px;
	 color: black;
 }

 .NEWS_title {
	font-size: 24px;
	color :#ffd61a;
	text-align: center;
	margin-top: 64px;
	margin-bottom: 24px;
}
.NEWS_text {
	font-size: 16px;
	color: black;
	text-align: center;
	margin-bottom: 64px;
}

.NEWS_box {
	width: 960px;
	display: flex;
	/* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.NEWS_box_small {
  width: 270px;
	/*padding-left: 20px;
  padding-bottom: 10px;*/
	text-align: center;
}

.NEWS_box_small img {
	margin-bottom: 12px;
	width: 270px;
}


/*こっから試作*/
.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_box {
	position: relative;
}
.cp_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 100px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.8) 90%);
}
.cp_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.cp_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: '▼もっと見る';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.cp_box input {
	display: none;
}
.cp_box .cp_container {
	overflow: hidden;
	height: 700px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.cp_box input:checked + label {
	/* display: none ; 閉じるボタンを消す場合解放 */
}
.cp_box input:checked + label:after {
	font-family: FontAwesome;
	content: '▲閉じる';
}
.cp_box input:checked ~ .cp_container {
	height: auto;
	padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}

/*ここまで試作*/




.date {
	padding-top: 6px;
  padding-bottom: 6px;
	background-color: darkgrey;
	color: ivory;
}


.ACCESS {
  text-align: center;
  align-items: center;
  background: rgba(225, 235, 85, 0.4);
  padding-bottom: 40px;
}

.ACCESS_title {
	font-size: 24px;
	color :#ffd61a;
	text-align: center;
	margin-top: 120px;
	margin-bottom: 24px;
}
.ACCESS_text {
	font-size: 16px;
	color: black;
	text-align: center;
	margin-bottom: 80px;
  padding-bottom: 20px;
}

table {
  margin: auto;
}

td {
  text-align: left;
  padding-left: 30px;
}














.CONTACT_title {
	font-size: 24px;
	color :#ffd61a;
	text-align: center;
	margin-top: 120px;
	margin-bottom: 24px;
}
.CONTACT_text {
	font-size: 16px;
	color: black;
	text-align: center;
	margin-bottom: 80px;
}





.FORM {
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: auto;
  
}

.item {
  overflow: hidden;
  margin-bottom: 20px;
	justify-content: left;
  align-items: left;
  padding-left: 80px;
}

.item2 {
  overflow: hidden;
  margin-bottom: 20px;
	justify-content: left;
  align-items: left;
}
.label{
  float: left;
  margin-right: 20px;
  margin-top: 5px;
  width:135px;
  padding-left: 10px;
  text-align: left;
}
.inputs{
  float: left;
  width:300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
input[type="text"],input[type="email"]{
  border: solid 1px #eef107;
  border-radius:5px;
  padding:10px;
  font-size: 15px;
}
textarea{
  border: solid 1px #eef107;
  border-radius:5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}
.btn-area{
  text-align: center;
}
input[type="submit"]{
  background: #ff9f45;
  border: none;
  color: rgb(255, 255, 255);
  font-size:18px;
  font-weight:bold;
  padding: 10px 100px;
  margin: 0 5px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}








1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
/* ページTOPに戻る */
page_top{
  width: 10px;
  height: 10px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #ef3f98;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}




.footer{
  background-color: gray;
  width: 960px;
  text-align:center;
  margin-top: 20px;
}

.copyrights{
	font-size: 8px;
	color: honeydew;
	margin-left: auto;
  margin-right: auto;
	
}

.wrapper {
  text-align:center;
}
